# reference files path
REF_PATH=/rd2/user/wangm/reference           #path of the reference genome
REF_NAME=hg19                                #name of the reference genome
DBSNP_PATH=/rd2/user/wangm/reference/dbsnp_132.hg19.vcf
#
GATK_HOME=/rd2/user/wangm/tools/GATK         #directory of GATK
PICARD_HOME=/rd2/user/wangm/tools/picard     #directory of Picard
#
# BWA related parameters
FQ_VERSION=1.5   #when fq version is 1.5, -I option should be set when bwa aln
END_IND=10                                   #bwa aln -i option value
GAP_EXT=-1                                   #bwa aln -e option value
#
# GATK related parameters
STAND_CALL_CONF=30                           #gatk UnifiedGenotyper -stand_call_conf
STAND_EMIT_CONF=10                           #gatk UnifiedGenotyper -stand_emit_conf

