# reference files path
REF_PATH=/rd/data/genome/human/ucsc.hg19/    #path of the reference genome
REF_NAME=hg19                                #name of the reference genome
DBSNP_PATH=/rd/data/public/gatk_bundle/1.2/hg19/dbsnp_132.hg19.vcf
#
GATK_HOME=/rd/build/gatk                     #directory of GATK
PICARD_HOME=/rd/build/picard-tools           #directory of Picard
#
# BWA related parameters
FQ_VERSION=1.5   #when fq version is 1.5, -I option should be set when bwa aln
END_IND=10                                   #bwa aln -i option value
GAP_EXT=-1                                   #bwa aln -e option value
#
# GATK related parameters
STAND_CALL_CONF=30                           #gatk UnifiedGenotyper -stand_call_conf
STAND_EMIT_CONF=10                           #gatk UnifiedGenotyper -stand_emit_conf
#
# SNP and Indel filter expression
FILTER="(AB ?: 0) > 0.75 || QUAL < 50.0 || DP < 10 || DP > 360 || (SB ?: -1) > -0.1 || MQ0>=4"

